In [25]:
import pandas as pd

In [26]:
df = pd.read_excel('/Users/kdeng/Desktop/accuracy_data.xlsx')

In [27]:
df.head()

,nurse_number,type,1,2,3,4,5,6,7,8,...,25,26,27,28,29,30,31,32,33,34
0,1,pre,No,NaN,No,No,NaN,NaN,NaN,No,...,NaN,NaN,NaN,No,NaN,Yes,No,7a,6.38,6.633333
1,2,pre,No,NaN,No,No,NaN,NaN,NaN,No,...,NaN,NaN,Yes,No,NaN,Yes,No,7a,5.31,5.516667
2,3,pre,Yes,NaN,No,No,NaN,NaN,NaN,No,...,NaN,NaN,Yes,No,NaN,Yes,No,7a,7.10,7.166667
3,4,pre,No,NaN,No,Yes,NaN,NaN,NaN,No,...,NaN,NaN,Yes,No,NaN,Yes,No,3p,3.35,3.583333
4,5,pre,No,NaN,No,Yes,NaN,NaN,NaN,No,...,NaN,NaN,No,No Comment,NaN,No,No,3p,2.37,2.616667

In [37]:
df1 = pd.melt(df, id_vars=['nurse_number', 'type'], value_vars=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34])

In [38]:
df1["value"].fillna("N/A", inplace = True)

In [39]:
df1.to_excel('/Users/kdeng/Desktop/long_form.xlsx')